body {
    font-size: 16px;
    color: #072227;
    background-color: #eee;
    margin: 5em;
    text-align: center;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #1c4649;
}
  
a:hover {
    color: #C65D7B;
  }

footer a:hover {
    color: #347a80;
}

h1, h2, h3, h4, h5, h6 {
    color: #072227;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
}

header {
    display: block;
    background-color: #ffbad0;
}

footer {
    text-align: center;
    background-color: #ffbad0;
}

/* 
@media only screen and (max-width: 1500px) {
    body {
        margin: 5em 20em 5em 20em;
    }
  }

@media only screen and (max-width: 800px) {
    body {
        margin: 5em;
    }

    header {
        display: block;
    }
    main {
        text-align: center;
    }
  } */