body {
    font-size: 16px;
    color: #072227;
    background-color: #eee;
    margin: 1em 10% 1em 10%;
    text-align: center;
}

main {
    text-align: center;
    padding: 1em 2em 1em 2em;
    background-color: rgb(252, 205, 186);
}

a {
    text-decoration: none;
    color: #205d61;
}
  
a:hover {
    color: #C65D7B;
  }

footer a:hover {
    color: #347a80;
}

h1, h2, h3, h4, h5, h6 {
    color: #072227;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
}

header {
    display: block;
    background-color: #ffbad0;
    padding: 1em;
}

footer {
    text-align: center;
    background-color: #ffbad0;
    padding: 1em;
}

img {
    max-width: 75%;
}
