:root {
    --paragraph-color: #11042b;
    --background1: #a7cab1;
    --background2: #f4ecd6;
    --background3: #b9766a;
    --background4: #88b7b5;
    --link-color: #7e167e;
    --link-highlighted: #cfcfbe;
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Noto Serif', serif;
}

/* body {
    color: var(--paragraph-color);
}

main, header, footer {
    padding: 2em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

header, footer {
    background-color: var(--background1);
    text-align: center;
}

main {
    background-color: var(--background4);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-highlighted);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: .5em;
    border-style: solid;
    border-width: .1em;
}

nav ul li {
    border-style: solid;
    border-width: .1em;
    background-color: var(--background3);
}

nav li a {
    display: block;
    padding: .9em;
    color: black;
}

img {
    max-width: 90%;
}

video {
    max-width: 100%;
} */

@media (max-width: 40em) {

    p {
        font-size: 16px;
    }

    body {
        background-color: var(--background1);
    }

    main, header, footer {
        max-width: 100%;
    }

    nav ul {
        display: block;
    }
}

/* @media (width <= 40em) {
    p {
        font-size: 16px;
    }

    body {
        background-color: var(--background1);
    }

    main, header, footer {
        max-width: 100%;
    }

    nav ul {
        display: block;
    }
} */

/* @media (not (width <= 40em)) {
    p {
        font-size: 16px;
    }

    body {
        background-color: var(--background1);
    }

    main, header, footer {
        max-width: 100%;
    }

    nav ul {
        display: block;
    }
} */