@media (min-width: 1350px) {
    body {
        margin: 2em 22% 2em 22%;
        font-size: 25px;
    }

    .hero {
        display: grid;
        grid-template-columns: 4fr 2fr;
        place-items: center;
        grid-gap: 1em;
    }

    img {
        max-width: 75%;
    }

    main {
        text-align: left;
    }

    nav li a {
        font-size: 1.3rem;
    }
}