:root {
    --paragraph-color: #072227;
    --background: #eee;
    --background2: #ffbad0;
    --background3: rgb(252, 205, 186);
    --link-color: #205d61;
    --link-color2: #C65D7B;
    --link-color3: #347a80;
    --heading-font: "Lato display swap";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    color: var(--paragraph-color);
    background-color: var(--background);
    margin: 1em 10% 1em 10%;
    text-align: center;
}

main {
    text-align: center;
    padding: 1em 2em 1em 2em;
    background-color: var(--background3);
}

a {
    text-decoration: none;
    color: var(--link-color);
}
  
a:hover {
    color: var(--link-color2);
  }

footer a:hover {
    color: var(--link-color3);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--paragraph-color);
}

p {
    font-family: 'Cormorant Garamond', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
}

header {
    background-color: var(--background2);
    padding: 1em;
}

footer {
    text-align: center;
    background-color: var(--background2);
    padding: 1em;
}

img {
    max-width: 75%;
}
