:root {
    --paragraph-color: #072227;
    --background1: #ffbad0;
    --background2: #FCCDBA;
    --background3: #afcde9;
    --link-color: #205d61;
    --link-highlighted: #c53e64;
    --link-highlighted2: #347a80;
    --heading-font: "Lato display swap";
    --paragraph-font: Lato, Helvetica, sans-serif;
}

body {
    font-size: 16px;
    color: var(--paragraph-color);
    background-color: #eee;
}

main, header, footer {
    max-width: 1050px;
    overflow-wrap: break-word;
    margin: 0;
}
main {
    padding: 1em 3em 1em 3em;
    background-color: var(--background2);
}

a {
    text-decoration: none;
    color: var(--link-color);
}
  
a:hover {
    color: var(--link-highlighted);
  }

h1, h2, h3, h4, h5, h6 {
    color: var(--paragraph-color);
}

p {
    font-family: 'Cormorant Garamond', serif;
    color: var(--paragraph-color);
}

img {
    max-width: 20%;
}

header {
    background-color: var(--background1);
    padding: 1em;
    text-align: center;
}

header img {
    padding: .75em;
}

nav {
    background-color: var(--background3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-style: solid;
    border-width: .1em;
}

nav ul li {
    flex: 1 1 100%;
    border-style: solid;
    border-width: .1em;
}

nav li a {
    display: block;
    padding: 0.8rem;
    font-size: 1.3rem;
    color: var(--paragraph-color);
}

main h2 {
    margin-bottom: .5em;
}

main p {
    max-width: 60ch;
    margin-top: .75em;
    margin-bottom: .75em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1 / span 2;
}

footer {
    text-align: center;
    background-color: var(--background1);
    padding: 1em;
}

footer a:hover {
    color: var(--link-highlighted2);
}

.color-schemes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: .1em;
}

.cs1,.cs2,.cs3,.cs4,.cs5,.cs6,.cs7 {
    border-style: solid;
    border-color: black;
    border-width: .1em;
}

.cs1 {
    background-color: var(--paragraph-color);
    color: #eee;
}
.cs2 {
    background-color: var(--background1);
}
.cs3 {
    background-color:var(--background2);
}
.cs4 {
    background-color:var(--background3);
}
.cs5 {
    background-color:var(--link-color);
    color: #eee;
}
.cs6 {
    background-color:var(--link-highlighted);
}
.cs7 {
    background-color:var(--link-highlighted2);
}