@media (min-width: 84em) {
    body {
        margin: 2em 22% 2em 22%;
    }

    p {
        font-size: 17px;
    }

    h3 {
        font-size: 24px;
    }

    .title {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        grid-gap: 1em;
    }

    main {
        text-align: left;
    }

    nav li a {
        font-size: 1.3rem;
    }

    .navigation li {
        display: block;
    }

    .navigation li:first-child {
        display: none;
    }

    .action-call {
        grid-column: 2;
        height: 54%;
    }

    .action-call p {
        font-size: 30px;
        padding: 1.5em;
    }

    .action-call .join-button {
        right: 10%;
        bottom: 10%;
        height: 5em;
        width: 8em;
    }
    
    #big {
        display: block;
    }

    #small {
        display: none;
    }

    .programs {
        display: block;
    }

    .weather {
        display:block;
    }

    .all-features {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 1em;
    }

    #ribbon {
        grid-column: 1;
        grid-row: 1;
    }

    .hero-container {
        grid-column: 2;
        grid-row: 1/3;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #join {
        grid-column: 1;
    }

    #news {
        grid-column: 2;
        grid-row: 3;
    }

    #treehouse {
        display: grid;
    }

    th, td {
        font-size: 18px;
    }

    #form-grid form textarea {
        width: 300px;
        height: 150px;
    }

    form {
        max-width: 350px;
    }

    #form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5em;
    }

    #more-details {
        display: none;
    }

    #membership-info {
        display: block;
    }
}