@media (min-width: 55em) {

    .action-call {
        left: 10%;
        width: 65%;
    }

    .action-call p {
        font-size: 24px;
        padding: 1.3em;
    }
    .join-button {
        right: 25%;
        bottom: 10%;
        height: 35%;
        width:35%;
    }

    #big {
        display: block;
    }

    #small {
        display: none;
    }
}