@media (min-width: 40em) {
    body {
        margin: 2em 17% 2em 17%;
        font-size: 18px;
    }

    main {
        padding: .5em 1em .5em 1em;
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 22px;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav li a {
        font-size: 1rem;
    }

    .navigation li {
        display: block;
    }

    .navigation li:first-child {
        display: none;
    }

    .action-call {
        height: 65%;
        width: 70%;
        top: 10%;
        left: 12%;
    }

    .action-call p {
        font-size: 21px;
    }

    .join-button {
        right: 15%;
        bottom: 8%;
        width:32%;
        height: 32%;
    }
}