:root {
    --paragraph-color: #072227;
    --background1: #ffbad0;
    --background2: #FCCDBA;
    --background3: #afcde9;
    --background4: #84bcca;
    --link-color: #205d61;
    --link-highlighted: #c53e64;
    --link-highlighted2: #347a80;
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Noto Serif', serif;
}

body {
    font-size: 16px;
    color: var(--paragraph-color);
    background-color: #eee;
}

main, header, footer {
    max-width: 1050px;
    overflow-wrap: break-word;
    margin: 0;
    border-style: solid;
    border-color: black;
}
main {
    padding: 0 0 .1em 0;
    background-color: var(--background2);
    border-width: 0 .75px 0 .75px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
  
a:hover {
    color: var(--link-highlighted);
  }

h1, h2, h3, h4, h5, h6 {
    color: var(--paragraph-color);
    font-family: var(--heading-font);
    font-weight:bolder;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

header {
    background-color: var(--background1);
    padding: 1em;
    text-align: center;
    border-width: .75px;
}

header img {
    padding: .75em;
}

nav {
    background-color: var(--background3);
}

button:hover {
    cursor: pointer;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: .1em;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    border-style: solid;
    border-width: .1em;
    display: none;
}

.responsive li {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--paragraph-color);
}

.navigation li:hover {
    background-color: var(--link-highlighted2);
}

.navigation li a:hover {
    color: #eee;
}

.social-media {
    background-color: var(--background3);
    max-width: 200px;
    display:block;
    margin: auto;
    border-style: solid;
    border-width: 1px;
}

.social-media p {
    font-size: 14px;
}

.social-media img {
    vertical-align: middle;
    margin: 5px;
}

.social-media img:hover {
    background-color: var(--link-highlighted2);
}

footer {
    text-align: center;
    background-color: var(--background1);
    padding: 1em;
    border-width: .75px;
}

footer a:hover {
    color: var(--link-highlighted2);
}

.hero-container {
    position: relative;
    width: 100%;

}

.hero {
    display: block;
    margin: auto;
    max-width: 100%;
}

.action-call {
    position: absolute;
    height: 70%;
    width: 80%;
    opacity: 90%;
    background-color: #eee;
    top: 10%;
    left: 6%;
}

.action-call p {
    font-family: var(--heading-font);
    font-size: 20px;
    margin: 0;
    padding: .75em;
}

.join-button {
    background-color: var(--link-color);
    color: #eee;
    height: 3em;
    width: 6.5em;
}

.action-call .join-button {
    width: 30%;
    height: 30%;
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.join-button:hover {
    background-color: var(--link-highlighted2);
}

#big {
    display:none;
}

.feature {
    background-color: var(--background4);
    margin: 2em auto 2em auto;
    text-align: center;
    padding: 1em;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 3px 4px 10px #777;
}

.feature h2 {
    text-align: center;
}

#treehouse {
    display:none;
}

#weather h2{
    margin: .2em 0 .2em 0;
}

.temp-banner {
    background-color: var(--background3);
    max-width: 75%;
    display: none;
    margin: auto;
    border-style: solid;
    border-width: .5px;
    padding: .5em;
}

.weather-logo {
    background-color: #ddd;
    border-radius: 35px;
}

#temp, #speed {
    max-width: 35px;
    padding: 3px;
    margin: 3px;
    text-align: center;
}

#wind-chill {
    padding:3px;
}

#chill-box {
    height: 24px;
    width: 35px;
    margin: 3px;
    background-color: #bbb;
    border-style: solid;
    border-color: black;
    border-width:.5px;
}