:root {
    --paragraph-color: #072227;
    --background1: #ffbad0;
    --background2: #FCCDBA;
    --background3: #c6d8e8;
    --background4: #84bcca;
    --link-color: #205d61;
    --link-highlighted: #c53e64;
    --link-highlighted2: #347a80;
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Noto Serif', serif;
}

body {
    font-size: 16px;
    color: var(--paragraph-color);
    background-color: #eee;
}

main, header, footer {
    max-width: 1050px;
    overflow-wrap: break-word;
    margin: 0;
    border-style: solid;
    border-color: black;
}
main {
    padding: .25em;
    background-color: var(--background2);
    border-width: 0 .75px 0 .75px;
}

h2, h3, h4 {
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

sub {
    display: block;
    text-align: center;
    margin-bottom: 2em;
    font-size: medium;
}

.subbed {
    margin-bottom: 7px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
  
a:hover {
    color: var(--link-highlighted);
  }

h1, h2, h3, h4, h5, h6 {
    color: var(--paragraph-color);
    font-family: var(--heading-font);
    font-weight:bolder;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

header {
    background-color: var(--background1);
    padding: 1em;
    text-align: center;
    border-width: .75px;
}

header img {
    padding: .75em;
}

nav {
    background-color: var(--background3);
}

button:hover {
    cursor: pointer;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: .1em;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    border-style: solid;
    border-width: .1em;
    display: none;
}

.responsive li {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--paragraph-color);
}

.navigation li:hover, .navigation a:focus {
    background-color: var(--link-highlighted2);
}

.navigation li a:hover {
    color: #eee;
}

.social-media {
    background-color: var(--background3);
    max-width: 200px;
    display:block;
    margin: auto;
    border-style: solid;
    border-width: 1px;
}

.social-media p {
    font-size: 14px;
}

.social-media img {
    vertical-align: middle;
    margin: 5px;
}

.social-media img:hover {
    background-color: var(--link-highlighted2);
}

footer {
    text-align: center;
    background-color: var(--background1);
    padding: 1em;
    border-width: .75px;
}

footer a:hover {
    color: var(--link-highlighted2);
}

.hero-container {
    position: relative;
    width: 100%;

}

.hero {
    display: block;
    margin: auto;
    max-width: 100%;
}

.action-call {
    position: absolute;
    height: 70%;
    width: 80%;
    opacity: 90%;
    background-color: #eee;
    top: 10%;
    left: 6%;
}

.action-call p {
    font-family: var(--heading-font);
    font-size: 20px;
    margin: 0;
    padding: .75em;
}

.join-button {
    background-color: var(--link-color);
    color: #eee;
    height: 3em;
    width: 6.5em;
}

.action-call .join-button {
    width: 30%;
    height: 30%;
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.join-button:hover {
    background-color: var(--link-highlighted2);
}

#big {
    display:none;
}

.feature {
    background-color: var(--background4);
    margin: 2em auto 2em auto;
    text-align: center;
    padding: 1em;
    max-width: 70%;
    word-wrap: break-word;
    box-shadow: 3px 4px 10px #777;
}

.feature h2 {
    text-align: center;
}

#treehouse {
    display:none;
}

#weather h2{
    margin: .2em 0 .2em 0;
}

.temp-banner {
    background-color: var(--background3);
    max-width: 75%;
    display: none;
    margin: auto;
    border-style: solid;
    border-width: .5px;
    padding: .5em;
}

#weather-logo {
    background-color: #ddd;
    border-radius: 35px;
}

#temp, #speed {
    max-width: 35px;
    padding: 3px;
    margin: 3px;
    text-align: center;
}

#wind-chill {
    padding:2px;
}

#chill-div {
    margin: 7.5px;
}

#chill-box {
    height: 30px;
    width: 35px;
    padding:3px;
    background-color: #bbb;
    border-style: solid;
    border-color: black;
    border-width:.5px;
}

table, th, td {
    border:1px solid black;
    padding:5px;
}

table {
    background-color: var(--background4);
    margin: auto;
    text-align: center;
}

th, td {
    background-color: var(--background3);
    font-size: 14.5px;
}

.table-container p {
    text-align: center;
    margin:auto;
    padding: 2px;
}

caption, figcaption {
    padding: 2px;
    border-style: solid;
    border-width: .5px;
    background-color: #eee;
}

.discover-container {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

img {
    max-width: 100%;
}

.long {
    max-width: 50ch;
}

#days-since-visited {
    display:block;
    margin: auto;
    text-align: center;
    background-color: var(--background3);
    border-style: solid;
    border-width: 1px;
    max-width: 250px;
    padding: 2px;
}

legend {
    padding: 8px;
}

form {
    background-color: #def;
    border: 1px solid #444;
    border-radius: 5px;
    margin:2em;
    padding: 20px 35px 20px 35px;
    max-width: 400px;
}

form fieldset {
    display: block;
    margin: auto;
    border: 1px solid var(--link-highlighted2);
    border-radius: 5px;
    width: 406px;
    max-width: 90%;
}

form input[type=submit] {
    display: block;
    margin:20px auto 2px auto;
    border: 1px solid;
    border-radius: 10px;
    height: 50px;
    width: 180px;
    background-color: var(--background3);
}

form input[type=submit]:hover, form input[type=submit]:focus{
    background-color: var(--background4);
    cursor: pointer;
}

form label {
    display: block;
    margin-top: 10px;
}

#membership-radio label {
    display: inline-block;
    margin-top: 4px;
}

#membership-radio {
    margin-left: 12px;
}

#bus-description {
    width: 90%;
    height: 185px;
    resize: none;
}

form input[type=text], form input[type=tel], form input[type=email], form textarea {
    width: 90%;
    padding: 6px;
    margin: 3px 0 3px 0;
    border: 1px solid #666;
    border-radius: 5px;
}

form input:required {
    border-bottom: 4px solid red;
}

form input:required:valid {
    border: 1px solid #666;
}

.thanks-message {
    text-align: center;
}

#membership-info {
    display:none;
    background-color: rgb(255, 255, 211);
    border: 1px solid #444;
    border-radius: 5px;
    margin:2em;
    padding: 20px 35px 20px 35px;
    max-width: 400px;
    scroll-margin-top: 100px;
}

#membership-info a {
    color: var(--link-highlighted);
}

#membership-info a:hover {
    color: var(--link-color);
}

#more-details {
    margin-top: 1em;
}

.to-visit {
    background-color: var(--background4);
    padding: 8px;
    max-width: 400px;
    display: block;
    margin: auto;
    border:.5px solid black;
}

.cards {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 260px));
    grid-gap: 5px;
    box-shadow: 0 0 10px 5px #999;
    padding: 20px;
    background-color: var(--background4);
    margin: 15px;
    justify-content: space-evenly;
}

.cards section {
    padding: 15px;
    text-align: center;
    border: solid 1px #888;
    background-color: var(--background3);
}

.cards section h2 {
    text-decoration: underline;
    text-underline-offset: 2px;
    margin-bottom: 10px;
}

.cards section p, .cards section a {
    padding: 3px;
    background-color: var(--background4);
    color: white;
    margin: 6px 0;
}

.cards section img {
    background-color: rgb(239, 236, 236);
    padding:8px;
    border-radius: 25px;
    width: 80%;
    margin-top: 8px;
}