@media (min-width:1000px) {
    body {
        font-size: 20px;
    }

    main, header, footer {
        padding: 1.5em;
    }

    nav a {
        width: 7.5em;
        font-size: 20px;
        padding: .75em;
        margin-left: 0;
        margin-right: 0;
    }

    .grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .75em;
        margin: 1em 7.5em;
    }

    .large-only {
        display: block;
    }

    #social-links {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #social-links img {
        width: 50px;
        margin: 0;
    }
    
    #contact-links img {
        width: 40px;
        margin: 0;
    }

    #title img {
        left: 1em;
    }

}