:root {
    --paragraph-color: #1a1320;
    --paragraph-color2: #eee;
    --background1: #444054;
    --background2: #eee;
    --link-color: #DB8A74;
    --link-highlighted: #FAC9B8;
    --link-color2: #d26648;
    --secondary-color: #2F243A;
    --secondary-2-color: #BEBBBB;
    --tertiary-color: #394f60;
    --heading-font: 'Philosopher', sans-serif;
    --paragraph-font: 'Source Serif Pro', serif;
}

body {
    margin: 0;
    font-size: 16px;
}

main, header, footer {
    padding: 0.5em;
}

main {
    background-color: var(--background2);
    text-align: center;
}

header, footer {
    background-color: var(--background1);
    text-align: center;
}

header p, header h1, header h2, footer p, footer h2 {
    color: var(--paragraph-color2);
}

main p, main h1, main h2 {
    color: var(--paragraph-color);
}

main p {
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    text-align: center;
}

img {
    display: block;
    margin: .5em auto;
}

p, a {
    font-family: var(--paragraph-font);
    max-width: 50ch;
    margin: auto;
}

a {
    color:var(--link-color);
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
}

main a {
    color: var(--link-color2);
}

a:hover {
    color:var(--link-highlighted);
}

main a:hover {
    color: var(--link-color);
}

nav {
    display: flex;
    flex-direction: column;
}

nav a:first-child {
    display: block;
}

nav a {
    margin: .15em auto;
    padding: .75em;
    width: 70%;
    background-color: var(--tertiary-color);
    border: .05em solid var(--secondary-2-color);
    border-radius: .5em;
    text-decoration: none;
    font-size: 22px;
    display: none;    
}

nav a:hover, .call-to-action:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--link-color);
}

.responsive a {
    display: block;
}

.large-only {
    display: none;
}

#contact-links, #social-links {
    display: grid;
    width: fit-content;
    grid-gap: .4em;
    padding: .4em;
    border: 1px solid var(--background2);
}

#contact-links {
    grid-template-columns: fit-content(40px) fit-content(100ch);
}

#nav-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    margin: 1em auto;
}

#social-links {
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-2-color);
    height: fit-content;
    margin: auto;
}

#social-links img {
    width: 30px;
    margin: 0;
}

#contact-links img {
    width: 30px;
    margin: 0;
}

#hero-div {
    width: 100%;
    margin: auto;
    position: relative;
}

#greeting p {
    background-color: var(--secondary-2-color);
    text-align: center;
    padding: 5px;
    border: .5px solid black;
    width: 20ch;
}

.call-to-action {
    color: var(--link-color);
    background-color: var(--tertiary-color);
    padding: 8px 18px;
    margin: 5px;
    font-size: 18px;
    border: .05em solid var(--secondary-2-color);
    border-radius: .5em;
} 


#hero-div img {
    width: 100%;
}

#main-logo {
    width: 45px;
    padding: .75em;
    border-radius: 50%;
    border: 2px solid var(--background2);
}