@media (min-width:500px) {
    body {
        font-size: 18px;
    }
    
    main, header, footer {
        padding: 1em;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        width: 6.5em;
        font-size:  16px;
        padding: .75em .3em;
        margin-left: .05em;
        margin-right: .05em;
        display: block;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 6fr 6fr 5fr;
        padding: .4em;
        margin: .75em;
        justify-items: center;
        align-items: center;
        grid-gap: .5em;
    }

    #social-links img {
        width: 40px;
        margin: 0;
    }
    
    #contact-links img {
        width: 22px;
        margin: 0;
    }

    #social-links {
        grid-template-columns: 1fr 1fr;
    }

    nav a:first-child {
        display: none;
    }

    #greeting {
        position: absolute;
        right: 10%;
        bottom: 10%;
    }

    #greeting p {
        background-color: #EEEEEE73;
    }

    #hero-div {
        width: 90%;
    }

    #title {
        position: relative;
        height: 5em;
    }

    #title h1 {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    #title img {
        position: absolute;
        left: 10%;
        top: -50%;
        transform: translateY(50%);
    }
}