@media (min-width:575px) {
    body {
        font-size: 18px;
    }
    
    main, header, footer {
        padding: 1em;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        width: 6.5em;
        font-size:  16px;
        padding: .75em .3em;
        margin-left: .05em;
        margin-right: .05em;
        display: block;
    }

    li {
        font-size: 22px;
    }

    #footer-grid {
        display: grid;
        grid-template-columns: 6fr 6fr 5fr;
        padding: .4em;
        margin: .75em;
        justify-items: center;
        align-items: center;
        grid-gap: .5em;
    }

    #contact-links, #social-links {
        grid-gap: .5em;
        padding: .4em;
    }

    #social-links img {
        width: 35px;
        margin: 0;
    }

    #nav-links {
        grid-template-columns: 1fr 1fr;
    }
    
    #contact-links img {
        width: 22px;
        margin: 0;
    }

    #social-links {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    nav a:first-child {
        display: none;
    }

    #greeting {
        right: 10%;
        bottom: 10%;
    }
    
    #hero-div {
        width: 90%;
    }

    #title {
        position: relative;
        height: 5em;
    }

    #title h1 {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    #title img {
        position: absolute;
        left: 10%;
        top: -50%;
        transform: translateY(50%);
    }

    form {
        width: 22em;
        background-color: var(--secondary-2-color);
        margin: auto;
        padding: 1em 2em;
    }

    form label {
        margin-left: 0;
    }

    form input[type=submit] {
        margin: 1em 0;
    }

    form input[type=text], form input[type=tel], form input[type=email], form input[type=date], select {
        width: 30ch;
        margin: 3px 0;
    }

    form textarea {
        margin: 3px 0;
    }

    #amenities {
        width: 400px;
    }

    #services-buttons {
        width: 500px;
        justify-content: space-around;
        display: flex;
    }

    #services-buttons img {
        height: 190px; width: 190px;
    }

    #amenities-grid img, .grid-box img {
        box-shadow: 8px 10px 5px var(--secondary-2-color);
        margin-bottom: .5em;
    }

    #temples-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
        grid-gap: 5px;
        max-width: 1000px;
    }

    #temples-grid .temples{
        width: 350px;
    }

    .text {
        font-size: 20px;
    }

    .food {
        width: 300px;
    }

    #forcast-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}