:root {
    --paragraph-color: #012034;
    --background1: #622c3d;
    --background2: #b5defc;
    --background3: rgb(244, 244, 244);
    --header-text: rgb(229, 236, 253);
    --header-link: rgb(169, 228, 250);
    --header-link-highlighted: rgb(80, 156, 184);
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Noto Serif', serif;
}

body {
    background-color: var(--background3);
    padding: 2em;
}

footer, header, main {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: large;
}

footer, header {
    background-color: var(--background1);
    color: var(--header-text);
}

footer a, header a{
    color: var(--header-link);
    font-style: italic;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5px;
}

footer a:hover, header a:hover{
    color: var(--header-link-highlighted);
    font-style: italic;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5px;
}

main {
    background-color: var(--background2);
}

#weather-icon {
    width: 100px;
}

figcaption {
    text-transform: capitalize; 
}
