:root {
    --table-head: hsl(260, 50%, 65%);
    --table-foot: hsl(268, 50%, 73%);
    --title-color: hsl(270, 50%, 75%);
    --zebra-odd: hsl(260, 50%, 85%);
	--zebra-even: hsl(260, 100%, 97%);
    --off-white: #eee;
    --border: #999;
    --main-font: 'Ubuntu', sans-serif;
    --shadow: hsl(260, 50%, 65%, .75);
}

body {
    font-family: var(--main-font);
    font-size: 18px;
}

table {
    border-collapse: collapse;
    box-shadow: 10px 10px 10px var(--shadow);
}

table, th, td {
    border: 1px solid;
    border-color: var(--border);
    text-align: center;
}

thead {
    background-color: var(--table-head);
}

tfoot {
    background-color: var(--table-foot);
    font-size: 15px;
}

th, td {
    padding: 9px;
}

th {
    color: var(--off-white);
}

td {
    font-weight: 300;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra-even);
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra-odd);
}

.holiday {
    font-style: italic;
}

.exceeded {
    background-color: var(--table-head);
    color: var(--off-white);
}

.table-title {
    font-size: 25px;
    color: black;
    padding: 9px;
    background-color: var(--title-color);
}

@media (max-width: 300px) {
    body {
        font-size: 16px;
    }

    td, th {
        padding: 6px;
    }
}